@model EShopOnAbp.BasketService.BasketDto
<div>
    @if (!Model.Items.Any())
    {
        <div class="basket-list">
            <p class="text-center"><strong><em>Your basket is empty. Click to a product to add it!</em></strong></p>
        </div>
    }
    else
    {
        <div class="basket-list">
            @foreach (var item in Model.Items)
            {
                <div class="basket-list-item" data-product-id="@item.ProductId">
                    @if (!item.ImageName.IsNullOrEmpty())
                    {
                        <img src="/product-images/@item.ImageName"/>
                    }
                    else
                    {
                        <img src="/product-images/noimage.jpg"/>
                    }
                    @item.ProductName
                    @if (item.Count > 1)
                    {
                        <text> (@("x" + item.Count))</text>
                    }
                    - $@item.TotalPrice.ToString("0.00")
                    <i class="fa fa-remove basket-item-remove" title="Remove from basket"></i>
                </div>
            }
            <hr/>
            <div class="basket-total-area">
                Total: $@Model.TotalPrice.ToString("0.00")
            </div>
            <div>
                <abp-button class="basket-purchase-button" text="Purchase" button-type="Primary" />
            </div>
        </div>
    }
</div>