@page
@using Microsoft.Extensions.Localization
@using EShopOnAbp.SaasService.Localization
@model EShopOnAbp.SaasService.Web.Pages.SaasService.IndexModel
@inject IStringLocalizer<SaasServiceResource> L
@{
}
<h1>SaasService</h1>
<p>@L["SamplePageMessage"]</p>
