@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetPublicLayout();
}
<div class="logo" >
    <a href="/" >
        <img src="/logo.png" style="height: 2.2rem" />
    </a>
</div>
<style>
    .logo {
        width: fit-content;
        position: sticky;
        top: 0;
        z-index: 101;
        padding-bottom: 2em;
        margin-top: -5.2em;
    }
</style>
