@page
@using EShopOnAbp.PublicWeb.Components.Basket
@model EShopOnAbp.PublicWeb.Pages.Basket

@{
    
}

<div class="col-lg-3">
    <h3 class="pt-5 pb-4 text-center">Your Basket</h3>
    <div id="BasketArea">
        @await Component.InvokeAsync(typeof(BasketWidgetViewComponent))
    </div>
</div>