@page

@using EShopOnAbp.Localization
@using Microsoft.Extensions.Localization
@model EShopOnAbp.PublicWeb.Pages.PaymentModel
@inject IStringLocalizer<EShopOnAbpResource> L

<div class="row">
    <h3 class="pt-5 pb-4 text-center">@L["Payment"]</h3>
</div>