@page
@using EShopOnAbp.Localization
@using EShopOnAbp.PublicWeb.Components.Payment
@using Microsoft.Extensions.Localization
@model EShopOnAbp.PublicWeb.Pages.PaymentModel

@inject IStringLocalizer<EShopOnAbpResource> L

<div class="row">
    <h3 class="pt-5 pb-4 text-center">@L["Payment"]</h3>
    <div id="PaymentArea">
        @await Component.InvokeAsync(typeof(PaymentWidgetViewComponent))
    </div>
</div>