config:
  selfUrl: # https://eshop-st-administration
  gatewayUrl: # https://eshop-st-gateway-internal/
  corsOrigins: # https://eshop-st-gateway-web,https://eshop-st-gateway-public-web,https://eshop-st-gateway-internal
  connectionStrings:
    administrationService: #
    saasService: #
  authServer:
    authority: http://eshop-st-authserver
    requireHttpsMetadata: "false"
  dotnetEnv: Staging
  redisHost: es-st-redis
  rabbitmqHost: es-st-rabbitmq
  elasticsearchHost: #
  stringEncryptionDefaultPassPhrase: gsKnGZ041HLL4IM8

synchedCommunication:
  grantType: # "client_credentials"
  clientId: # 
  clientSecret: #
  authority: https://eshop-st-authserver
  scope: # "IdentityService"

ingress:
  host: # eshop-st-administration
  tlsSecret: eshop-demo-tls

image:
  repository: eshoponabp/service-administration
  tag: latest
  pullPolicy: IfNotPresent

env: {}
