<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'AbpCatalog::Products' | abpLocalization }}</h5>
      </div>
      <div class="text-end col col-md-6">
        <button class="btn btn-primary" (click)="onCreate()" *abpPermission="permissions.create">
          {{ 'AbpCatalog::NewProduct' | abpLocalization }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="items" [count]="count" [list]="list" default>
      <!-- TODO: localize column headers -->
      <ngx-datatable-column
        [name]="'AbpUi::Actions' | abpLocalization"
        [sortable]="false"
        *abpPermission="permissions.update + ' || ' + permissions.delete"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="me-1 fa fa-cog"></i>{{ 'AbpUi::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button
                class="dropdown-item"
                (click)="onEdit(row)"
                *abpPermission="permissions.update"
              >
                {{ 'AbpUi::Edit' | abpLocalization }}
              </button>
              <button
                class="dropdown-item"
                (click)="onDelete(row)"
                *abpPermission="permissions.delete"
              >
                {{ 'AbpUi::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Code" prop="code"></ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="Price" prop="price"></ngx-datatable-column>
      <ngx-datatable-column name="Stock Count" prop="stockCount"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<abp-modal [(visible)]="isModalVisible" [busy]="modalBusy">
  <ng-template #abpHeader>
    <h3>{{ (selected?.id ? 'AbpCatalog::Edit' : 'AbpCatalog::NewProduct') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <ng-template #loaderRef
      ><div class="text-center"><i class="fa fa-pulse fa-spinner"></i></div
    ></ng-template>

    <!-- <form *ngIf="form; else loaderRef" [formGroup]="form" (ngSubmit)="save()">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>{{ 'AbpIdentity::UserInformations' | abpLocalization }}</a>
          <ng-template ngbNavContent>
            <abp-extensible-form [selectedRecord]="selected"></abp-extensible-form>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>{{ 'AbpIdentity::Roles' | abpLocalization }}</a>
          <ng-template ngbNavContent>
            <div
              *ngFor="let roleGroup of roleGroups; let i = index; trackBy: trackByFn"
              class="form-check mb-2"
            >
              <input
                type="checkbox"
                class="form-check-input"
                [attr.id]="'roles-' + i"
                [formControl]="roleGroup.controls[roles[i].name]"
              />
              <label class="form-check-label" [attr.for]="'roles-' + i">{{ roles[i].name }}</label>
            </div>
          </ng-template>
        </li>
      </ul>

      <div class="mt-2 fade-in-top" [ngbNavOutlet]="nav"></div>
    </form> -->
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpIdentity::Cancel' | abpLocalization }}
    </button>
    <abp-button iconClass="fa fa-check">{{ 'AbpIdentity::Save' | abpLocalization }}</abp-button>
  </ng-template>
</abp-modal>
